name: DOX Java CICD

on:
  push:
    branches:
      - main

  workflow_dispatch: # allows manual trigger from GitHub UI

jobs:
  call-dox-java-cicd:
    uses: dopxlab/github-actions/.github/workflows/dox-java-cicd.yml@main
    with:
      oci_reg_host: '${{ env.OCI_REG_HOST }}'
      oci_reg_user: '${{ env.OCI_REG_USER }}'
      docker_image_push_prefix: '${{ env.DOCKER_IMAGE_PUSH_PREFIX }}'
      gitops_repository: '${{ env.GITOPS_REPO }}'
    secrets:
      oci_reg_password: ${{ secrets.OCI_REG_PASSWORD }}
      gitops_pat: ${{ secrets.GITOPS_PAT }}
